@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

html, body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

div {
    font-size: 2.4em;
    margin-bottom: 20px;
}

button {
    border-radius: 50%;
    padding: 20px;
    outline: 0;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    background-color: #ff2c1c;
}

button:hover {
    background-color: #d60f00;
}

.buttons {
    display: flex;
}

.buttons > *:not(.hide) {
    margin-right: 10px;
}

.hide {
    display: none;
}